*.vs
*.db
*.log
*.dll
*.exe
*.lib
*.exp
*.ipdb
*.iobj
*.tlog
*.recipe
*.FileListAbsolute.txt
*.idb
*.hlsl.h
*.dxil.h
*.spirv.h
*.bat
*.rw
*.rw.h
*.obj
*.pdb
build/
.vscode/
.idea
.cache
compile_commands.json
cmake-build-debug*
